<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>351954591846-atc20s2hsjib5hbc22jieejqvasrfld2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.351954591846-atc20s2hsjib5hbc22jieejqvasrfld2</string>
	<key>API_KEY</key>
	<string>AIzaSyD9m0zoR36GlJNltKYbHF6HJ_5KzySGkWM</string>
	<key>GCM_SENDER_ID</key>
	<string>351954591846</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cloudMessagingFire</string>
	<key>PROJECT_ID</key>
	<string>notitest-86568</string>
	<key>STORAGE_BUCKET</key>
	<string>notitest-86568.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:351954591846:ios:1c1fe961d898623f258da7</string>
</dict>
</plist>